@font-face {
    font-family:"Unbouded";
    src: url("../fontes/Unbounded-Bold.ttf");
    format:("truetype");
    font-weight:700;
    font-style:normal;
    font-display: swap;
}

@font-face {
    font-family:"Poppins";
    src: url("../fontes/Poppins-Regular.ttf");
    format:("truetype");
    font-weight:400;
    font-style:normal;
    font-display: swap;
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #0E1014;
    color:#FFFFFF;
}

header img{
    display: block;
    margin: 75px 0 0 360px;
}


h1{
    font-size: 64px;
    font-family: "Unbounded", sans-serif;
    text-align: center;
    margin-top: 60px;

}

p{
    font-size: 24px;
    font-family:"Poppins", sans-serif;
    text-align: center;
    margin-top: 24px;

}
h1 span {
    color:#9747FF; 
}

a{
    color:#FFFFFF;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    text-decoration: none;
    background-color: #9747FF;
    width: 340px;
    height: 66px;
    display: block;
    text-align: center ;
    line-height: 66px;
    border-radius: 36px;
    margin:40px auto;
}

section img{
    display: block;
    width: 795px;
    height: 452px;
    margin: 0 auto;
}